@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;700&display=swap');

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #FF8CB0, #FEC987, #FFFEFA );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
}

main {
    background: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
    width: 35%;
}

h1 {
    font-size: 2.5em;
    margin: 2%;
}

fieldset {
    border: 0;
}

.input-area {
    border-radius: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
    margin-right: 2%;
    padding: 3%;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    width: 40%;
}

.input-area:focus {
    outline: none;
    background-color: rgba(217, 237, 243, 0.685);
}

#first, #last {
    width: 90%;
}

button {
    background-color: #4896FF;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 1em;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    margin: 2%;
    cursor: pointer;
    transition: 0.5s all;
    width: 90%;
}

button:hover {
    background-color: #7ab2fc;
}

#check {
   cursor: pointer;
}

a {
    color: #4896FF;
}

a:hover {
    color: #7ab2fc; 
}